{% extends 'general_app/components/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home-style.css' %}">
{% endblock %}

{% block content %}
<div class="main-container flex-column parallelogram" id="home-container">
  <div class="grid-col2">
    <div class="sub-container flex-column">
      <div class="flex-left">
        <img class="not-parallelogram" id="arona-portrait" src="{% static '/image/other/Arona.png' %}" alt="Arona">
        <h1>Welcome, Sensei!</h1>
      </div>
      <p>This is an unofficial web application, serving as a Gacha Simulator for the mobile game Blue Archive, developed by Nexon Games and published by Yostar (Japan) and Nexon (Global).</p>      
      <p>Have fun testing your luck with gacha draws without spending Pyroxene.</p>
      <h2>Features</h2>
      <ul>
        <li><b>Gacha simulator</b> with pick-up rates similar to the mobile game</li>
        <li><b>User account</b> for tracking information such as collections and achievements</li>
        <li><b>Guest mode</b> allows you to have fun testing your luck</li>
        <li>Full <b>student list</b> in the current game version</li>
        <li><b>Open source</b> and <b>no collection of user information</b>, because this is a case study for full-stack web development</li>
      </ul>
    </div>
    <div class="sub-container" id="video-section">
      <h2>SALTY</h2>
      <video autoplay muted loop src="{% static '/video/gacha.mov' %}" type="video/mp4">
    </video>
    </div>
  </div>
  <div class="sub-container flex-column" id="footer">
    <p>
      Designed, developed, and maintained by <span><a href="https://github.com/catptype/">Catptype</a></span><br>
      This website is not affiliated with Nexon, Nexon Games or Yostar.<br>
      All assets used in this website are the property and copyright of the respective authors.
    </p>
    <p>Source code: <span><a href="https://github.com/catptype/Blue-Archive-Gacha-Simulator">GitHub</a></span></p>
  </div>
</div>
{% endblock %}