{% extends 'general_app/components/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '/css/home-style.css' %}">
{% endblock %}

{% block content %}
<div class="container parallelogram" id="home-container">
  <div class="home-grid">
    <div class="home-item">
      <h1>Welcome, Sensei!</h1>
      <p>This website is an unofficial database and calculation tool for the mobile game Blue Archive developed by Nexon Games and published by Yostar (Japan) and Nexon (Global) for iOS and Android.</p>
      <p>Please select your game server using the settings menu  to see only information that has been released on that server.</p>
      <h2>Features</h2>
      <ul>
        <li>Account system</li>
        <li>Student list</li>
        <li>Gacha simulator</li>
      </ul>
    </div>
    <div class="home-item">
      <h3>What's new</h3>
    </div>
  </div>
  <div class="footer">
    <p>
      Designed, developed, and maintained by <span><a href="https://github.com/catptype">Catptype</a></span><br>
      This website is not affiliated with Nexon, Nexon Games or Yostar.<br>
      All game artwork, information and assets used in this database are the property and copyright of the respective authors.<br>
      Copyright © 2024. All rights reserved.
    </p>
  </div>
</div>
{% endblock %}