{% extends 'general_app/components/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container bg-light">
  <div class="home-grid">
    <div class="home-item">
      <p>
        Welcome, Sensei!
        Schale is an unofficial database and calculation tool for the mobile game Blue Archive developed by Nexon Games and published by Yostar (Japan) and Nexon (Global) for iOS and Android.
        
        Please select your game server using the settings menu  to see only information that has been released on that server.
        
        Features
        Full information on all students and their skills, summons and vehicles.
        Calculation feature that can display a student's stats under any configuration of level, equipment and buffs, and calculate skill damage and healing against a configurable target enemy.
        Complete Items, Equipment and Furniture database.
        Reward drops, maps and detailed enemy information for all Campaign, Event Quest, Challenge and Daily stages.
        Stats and Skill information for Total Assault bosses and Joint Firing Drill events.
        View the chances of possible items received from crafting nodes.
      </p>
    </div>
    <div class="home-item">
      {% if user.is_authenticated %}
    WELCOME {% if user.is_superuser %} ADMIN {% endif %} {{ user.username }}
  {% else %}
    WELCOME GUEST
  {% endif %}
    </div>
  </div>

</div>
{% endblock %}