<div id="password-form" class="flex-column">
    <form class="flex-column" method="POST" autocomplete="off" novalidate>
        {% csrf_token %}
        {% for error in form.non_field_errors %} 
        <p class="text-error">{{ error }}</p>
        {% endfor %}
        <div class="input-field">
            {{ form.password1 }}
            {% for error in form.password1.errors %} 
            <p class="text-error">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="input-field">
            {{ form.password2 }}
            {% for error in form.password2.errors %} 
            <p class="text-error">{{ error }}</p>
            {% endfor %}
        </div>
        <hr>
        <button type="submit" class="btn">Submit</button>
    </form>
</div>
