{% load static %}
<div id="collection">
    <h2>Obtained ({{ obtained_students|length }}/{{ all_students.count }})</h2>
    <div class="student-grid">
        {% for student in all_students %}
        <div class="center-position student-card">
            {% if student.image %}
            <img src="{{ student.image.url }}" alt="{{ student.name }}_{{ student.version.name }}" loading="lazy">
            {% endif %}
            <div class="not-parallelogram card-rarity">
                {% for _ in ""|rjust:student.rarity %}<div class="star"></div>{% endfor %}
            </div>
            <div class="not-parallelogram card-school">
                <img src="{{ student.school.image.url }}" alt="{{ student.school_name }}" loading="lazy">
            </div>
            <p class="card-label">{{ student.name }}{% if student.version.name != "Original" %} ({{ student.version.name }}){% endif %}</p>
            {% if not student in obtained_students %}
            <div class="locked"></div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
