{% load static %}
{% load custom_tags %}
<div class="flex-column" id="statistic">
    <div class="sub-container flex-column">
        <h2>THE FIRST OBTAINED&nbsp;{% for _ in ""|rjust:3 %}<span class="star"></span>{% endfor %}&nbsp;STUDENT</h2>
        <div class="flex-center" id="first-info">
            {% if first_r3_student %}
            <img class="not-parallelogram" src="{% static '/image/ranking/first.png' %}" alt="first">
            <div class="student-card">
                <img src="{{ first_r3_student.student.image.url }}" alt="{{ first_r3_student.student.name }}_{{ first_r3_student.student.version }}">
                <p class="card-label">{{ first_r3_student.student.name }}{% if first_r3_student.student.version.name != "Original" %} ({{ first_r3_student.student.version.name }}){% endif %}</p>
            </div>
            <div>
                <p>{{ first_r3_student.formatted_datetime }}</p>
            </div>
            {% else %}
            <h2>NO DATA</h2>
            {% endif %}
        </div>
    </div>

    <div class="sub-container flex-column">
        <h2>OBTAIN RATE</h2>
        <div class="flex-center">
            <div class="pie-chart" id="all-rarities" style="--r1:{{ transaction_count.r1|percentage:total_draw }}%; --r2:{{ transaction_count.r2|percentage:total_draw }}%; --r3:{{ transaction_count.r3|percentage:total_draw }}%;">
                <p>TOTAL</p>
                <p>DRAW</p>
                <p>{{ total_draw }}</p>
            </div>
            {% for rarity, value in transaction_count.items %}
            <div class="pie-chart" id="rarity{{ forloop.counter }}" style="--r{{ forloop.counter }}:{{ value|percentage:total_draw }}%;">
                <p>{% for _ in ""|rjust:forloop.counter %}<span class="star"></span>{% endfor %}</p>
                <p>{{ value }}</p>
                <p>({{ value|percentage:total_draw }}%)</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="grid-col3" id="top-info">
        {% for _, top3_students in most_obtain.items %}
        <div class="sub-container flex-column">
            <h2>MOST OBTAINED<br>{% for _ in ""|rjust:forloop.counter %}<span class="star"></span>{% endfor %}&nbsp;STUDENTS</h2>
            {% if top3_students %}
            <div class="grid-col3">
                {% for student, count in top3_students %}
                <div class="rank-icon flex-center not-parallelogram">
                    {% if forloop.counter == 1 %}
                    <img src="{% static '/image/ranking/rank1.png' %}" alt="rank1">
                    {% elif forloop.counter == 2 %}
                    <img src="{% static '/image/ranking/rank2.png' %}" alt="rank2">
                    {% elif forloop.counter == 3 %}
                    <img src="{% static '/image/ranking/rank3.png' %}" alt="rank3">
                    {% endif %}
                </div>
                <div class="student-card center-position">
                    <img src="{{ student.image.url }}" alt="{{ student.name }}_{{ student.version }}">
                    <p class="card-label">{{ student.name }}{% if student.version.name != "Original" %} ({{ student.version.name }}){% endif %}</p>
                </div>
                <div class="flex-center">
                    <p>{{ count }} times</p>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <h2>NO DATA</h2>
            {% endif %}
        </div>
        {% endfor %}
    </div>

</div>