{% extends 'general_app/components/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user-style.css' %}">
{% endblock %}

{% block content %}

<div class="main-container flex-column parallelogram" id="dashboard-container">
    <div class="sub-container">
        <h1>DASHBOARD PAGE</h1>
        <p style="text-align: center;">WELCOME {% if user.is_superuser %} ADMIN {% endif %} {{ user.username }}</p>
    </div>
    <div class="dashboard-grid">
        <!-- Left column for menu -->
        <div class="sub-container">
            <h3>MENU</h3>
            <hr>
            <!-- Gacha section -->
            <h4>GACHA</h4>
            <ul>
                <li><a href="?tab=history">HISTORY</a></li>
                <li><a href="?tab=statistic">STATISTIC</a></li>
                <li><a href="?tab=collection">COLLECTION</a></li>
                <li><a href="?tab=achievement">ACHIEVEMENT</a></li>
            </ul>

            <hr>
            <!-- Account section -->
            <h4>ACCOUNT SETTING</h4>
            <ul>
                <li><a href="?tab=change-password">CHANGE PASSWORD</a></li>
            </ul>
        </div>
        <div class="sub-container">
            {{ html_content }}
        </div>
    </div>
</div>

{% endblock %}