{% extends 'general_app/components/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard-style.css' %}">
{% endblock %}

{% block content %}
<div class="main-container flex-column parallelogram" id="dashboard-container">
    <div class="flex-center sub-container">
        {{ dashboard_title }}
    </div>
    <div class="dashboard-grid">
        <!-- Left column for menu -->
        <div class="flex-column sub-container" id="dashboard-sidebar">
            <h2>USER</h2>
            <p>{% if user.is_superuser %} ADMIN {% endif %} {{ user.first_name }}</p>
            <hr>
            <!-- Gacha section -->
            <h3>GACHA</h3>
            <ul>
                <li><a href="?tab=history">HISTORY</a></li>
                <li><a href="?tab=statistic">STATISTIC</a></li>
                <li><a href="?tab=collection">COLLECTION</a></li>
                <li><a href="?tab=achievement">ACHIEVEMENT</a></li>
            </ul>

            <hr>
            <!-- Account section -->
            <h3>ACCOUNT SETTING</h3>
            <ul>
                <li><a href="?tab=change-password">CHANGE PASSWORD</a></li>
                <li><a href="?tab=reset">RESET PROGRESS</a></li>
                {% if not user.is_superuser %}
                <li><a href="?tab=delete">DELETE ACCOUNT</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="sub-container" id="dashboard-content">
            {{ html_content }}
        </div>
    </div>
</div>
{% endblock %}