{% extends 'general_app/components/base.html' %}
{% load static %}
{% block title %}Register{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user-style.css' %}">
{% endblock %}

{% block content %}
<div class="main-container parallelogram" id="register-container">
  <div class="flex-column sub-container" id="register-content">
    <h1>Signup</h1>
    <form class="flex-column" method="POST" autocomplete="off" novalidate>
      {% csrf_token %}

      <div class="input-field">
        {{ form.username }}
        {% for error in form.username.errors %} 
        <p class="text-error">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="input-field">
        {{ form.first_name }}
        {% for error in form.first_name.errors %} 
        <p class="text-error">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="input-field">
        {{ form.password1 }}
        {% for error in form.password1.errors %}
        <p class="text-error">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="input-field">
        {{ form.password2 }}
        {% for error in form.password2.errors %}
        <p class="text-error">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="input-field">
        {{ form.tos }}
        <span>{{ form.tos.label }}</span>        
        {% for error in form.tos.errors %}
        <p class="text-error">{{ error }}</p>
        {% endfor %}
      </div>
      <hr>
      <button type="submit" class="btn">Submit</button>
    </form>
    <div class="flex-center">
      <p>
        Already have an account? <a href="{% url 'login' %}">Login</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}