{% extends 'general_app/components/base.html' %} 

{% block title %}Add student{% endblock %} 

{% block content %}
<div class="container bg-light p-5 form-layout">
  <h3>Add student</h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row debug-ok-layout">
      <div class="col-10 offset-1 debug-dev-layout">
        <div class="mb-3 debug-dev-layout">
          <label>{{ form.name.label }}</label>
          <div>{{ form.name }}</div>
          {% if form.name.errors %}
          <div class="text-danger">
            {% for error in form.name.errors %} {{ error }} {% endfor %}
          </div>
          {% endif %}
        </div>
        <div class="mb-3 debug-dev-layout">
          <label>{{ form.version.label }}</label>
          <div>{{ form.version }}</div>
          {% if form.version.errors %}
          <div class="text-danger">
            {% for error in form.version.errors %} {{ error }} {% endfor %}
          </div>
          {% endif %}
        </div>
        <div class="mb-3 debug-dev-layout">
          <label>{{ form.image.label }}</label>
          <div>{{ form.image }}</div>
        </div>
        <div class="mb-3 debug-dev-layout">
          <label>{{ form.rarity.label }}</label>
          <div>{{ form.rarity }}</div>
        </div>
        <div class="mb-3 debug-dev-layout">
          <label>{{ form.school.label }}</label>
          <div>{{ form.school }}</div>
          {% if form.school.errors %}
          <div class="text-danger">
            {% for error in form.school.errors %} {{ error }} {% endfor %}
          </div>
          {% endif %}
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary p-2 mb-3">Submit</button>
          </div>
      </div>
      
    </div>
    
  </form>
</div>
{% endblock %}
