{% extends 'general_app/components/base.html' %} 
{% load static %}

{% block css %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/student-style.css' %}"> -->
{% endblock %}

{% block title %}Student list{% endblock %} 

{% block content %}
<style>
    :root {
        --r1-color: #6BDFFF;
        --r2-color: #FFE400;
        --r3-color: #FEC1F5;
    }

    .r1-card {
        border-color: var(--r1-color) !important;
    }

    .r2-card {
        border-color: var(--r2-color) !important;
    }

    .r3-card {
        border-color: var(--r3-color) !important;
    }

    .star {
        width: 25px;
        height: 25px;
        background-image: url({% static 'asset/star_rarity.png' %});
        background-size: cover;
    }
</style>
<div class="container-fluid container-lg mt-2">
    <div class="row row-cols-1 g-2">
        <!-- School Filter -->
        <div class="col p-2 d-flex flex-wrap gap-2 border">
            <!-- All Filter -->
            <div class="p-2 border d-flex flex-fill gap-2 justify-content-center align-items-center school-icon activated" id="all" onclick="selectSchool(this)" style="height:60px">
                <img class="img-fluid" src="{% static 'icons/all.svg' %}" alt="all" style="max-height: 100%; max-width: auto;">
                <p class="m-0">All</p>
            </div>

            <!-- Specific School -->
            {% for school in schools %}
            <div class="p-2 border d-flex flex-fill gap-2 justify-content-center align-items-center school-icon" id="{{ school.name }}" onclick="selectSchool(this)" style="height:60px">
                <img class="img-fluid" src="{% url 'serve_school_image' school_id=school.pk %}" alt="{{ school.name }}" style="max-height: 100%; max-width: auto;">
                <p class="m-0">{{ school.name }}</p>
            </div>
            {% endfor %}
        </div>

        <!-- Student List -->
        <div class="col p-2 border overflow-y-scroll" style="height: 75vh;">
            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-2">
            
                <!-- Loop render card -->
                {% for student in students %}
                <div class="col">
                    <div class="overflow-hidden border border-5 rounded-4 r{{ student.rarity }}-card" style="height:300px">
                        <div class="position-relative w-100 h-100">
                            <!-- Card image -->
                            <img class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover" src="{% url 'serve_student_image' student_id=student.pk %}" alt="{{ student.name }}_{{ student.version }}" loading="lazy">
                            
                            <!-- School icon -->
                            <div class="mt-1 me-1 p-1 d-flex justify-content-center position-absolute top-0 end-0 bg-white rounded-circle" style="width: 40px; height:40px">
                                <img src="{% url 'serve_school_image' school_id=student.school_id.pk %}" alt="{{ student.school }}" class="img-fluid">
                            </div>
                            
                            <!-- Rarity icon -->
                            <div class="mt-1 ms-1 px-2 py-1 d-flex justify-content-center align-items-center position-absolute top-0 start-0 bg-white rounded-pill" style="width: fit-content; height: 40px;">
                                {% for _ in ""|rjust:student.rarity %}
                                <span class="star"></span>
                                {% endfor %}
                            </div>

                            <!-- Label name -->
                            <div class="bg-white position-absolute bottom-0 start-50 translate-middle-x text-center w-100">
                                <p class="m-0 px-1 py-2">
                                    {{ student.name }}
                                    {% if student.version != "Original" %}
                                    ({{ student.version }})
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<!-- <script defer src="{% static 'js/students.js' %}"></script> -->
{% endblock %}