<nav class="navbar navbar-expand-md bg-light" style="--bs-bg-opacity: .5;">
  <div class="navbar-brand">Gacha Simulator</div>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/' %}active disabled{% endif %}" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/student' %}active disabled{% endif %}" href="{% url 'student' %}">Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'gacha' %}">Gacha</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/about' %}active disabled{% endif %}" href="{% url 'about' %}">About</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <div class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ user.username }}
        </div>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if user.is_superuser %}
          <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>
          <li><hr class="dropdown-divider"></li>
          {% endif %}
          <li><a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/register' %}active disabled{% endif %}" href="{% url 'register' %}" >Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/login' %}active disabled{% endif %}" href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}
    </ul>

  </div>

</nav>