{% load static %}
<nav>
  <ul>
    <li><a href="{% url 'home' %}"><img src="{% static 'image/logo.png' %}" alt="logo" height="50px"></a></li>
    <li><a href="{% url 'student' %}">Student</a></li>
    <li><a href="{% url 'gacha' %}">Gacha</a></li>
    {% if user.is_authenticated %}
    <li class="user-dropdown">
      <a href="#">{{ user.username }}</a>
      <ul class="sub-menu">
        {% if user.is_superuser %}
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
        <li><hr></li>
        {% endif %}
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </li>
    {% else %}
    <li><a href="{% url 'register' %}">Register</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
    <li><a href="{% url 'about' %}">About</a></li>
  </ul>
</nav>