.dashboard-grid {    
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: var(--gap-size);
    overflow-y: auto;

    & #dashboard-sidebar,
    & #dashboard-content {
        overflow-y: auto;
        height: 100%;
    }

    & #dashboard-sidebar hr {
        margin: var(--gap-size) 0;
        border-color: black;
    }
}