table {
    width: 100%; /* to maintain header table width equally */
    border-collapse: collapse;
    table-layout: fixed;

    & th, td {
        border: 1px solid black;
        text-align: center;
    }

    & td {
        line-height: 0px;
    }

    & .hilight {
        color: var(--primary-color);
        /* text-stroke: 1px black; may not support in some browser */
        text-shadow: 
            -1px -1px 0 black,  
             1px -1px 0 black,
            -1px  1px 0 black,
             1px  1px 0 black;
    }

    & .student-card {
        width: calc(var(--card-width) * 0.5);
        height: calc(var(--card-height) * 0.5);
    }

    & .stars {
        --total-star-size: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--total-star-size);

        & .star {
            width: calc(var(--total-star-size) / 3);
            height: calc(var(--total-star-size) / 3);
            background-image: url('../../image/star_rarity.png');
            background-size: cover;
        }
    }

    & p {
        width: 8ch;
        text-align: left;
    }   
}