<h2>DASHBOARD HISTORY</h2>
<div class="history-grid">
    {% if transactions %}
        {% for transaction in transactions %}
        <div class="history-item">
            <img src="{{ transaction.student.image.url }}" alt="{{ transaction.student.name }}_{{ transaction.student.version }}">
            <p><strong>Date:</strong> {{ transaction.formatted_datetime }}</p>
            <p><strong>Banner:</strong> {{ transaction.banner.name }}</p>
            <p><strong>Student:</strong> {{ transaction.student.name }}</p>
        </div>
        {% endfor %}
    {% else %}
        <p>No gacha transactions found.</p>
    {% endif %}
</div>
{% if transactions %}
<!-- Display pagination links -->
<div class="pagination">
    <span class="step-links">
        {% if transactions.has_previous %}
            <a href="?tab={{ tab }}&page={{ previous_page }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}.
        </span>

        {% if transactions.has_next %}
            <a href="?tab={{ tab }}&page={{ next_page }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}