<div id="history" class="flex-column">
    {% if transactions %}
    <table>
        <tr>
            <th>Date-time</th>
            <th>Banner</th>
            <th>Student</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <td {% if transaction.student.rarity == 3 %}class="hilight"{% endif %}>{{ transaction.formatted_datetime }}</td>
            <td {% if transaction.student.rarity == 3 %}class="hilight"{% endif %}>{{ transaction.banner.name }}</td>
            <td>
                <div class="flex-center">
                    <div class="student-card">
                        <img src="{{ transaction.student.image.url }}" alt="{{ transaction.student.name }}_{{ transaction.student.version.name }}">
                    </div>
                    <span class="stars">
                        {% for _ in ""|rjust:transaction.student.rarity %}<div class="star"></div>{% endfor %}
                    </span>
                    <p {% if transaction.student.rarity == 3 %}class="hilight"{% endif %}>{{ transaction.student.name }} ({{ transaction.student.version.name }})</p>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="flex-center">
        <span>
            {% if transactions.has_previous %}
                <a href="?tab={{ tab }}&page={{ previous_page }}">previous</a>
            {% endif %}
    
            <span>
                Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}.
            </span>
    
            {% if transactions.has_next %}
                <a href="?tab={{ tab }}&page={{ next_page }}">next</a>
            {% endif %}
        </span>
    </div>
    {% else %}
        <p>No gacha transactions found.</p>
    {% endif %}
</div>