<div id="history" class="flex-column">
    <h2>HISTORY</h2>
    {% if transactions %}
    <table>
        <tr>
            <th>Date-time</th>
            <th>Banner</th>
            <th>Student</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            {% if transaction.student.rarity == 3 %}
            <td class="hilight">{{ transaction.formatted_datetime }}</td>
            <td class="hilight">{{ transaction.banner.name }}</td>
            <td>
                <div class="flex-center" id="history-student">
                    <img src="{{ transaction.student.image.url }}" alt="{{ transaction.student.name }}_{{ transaction.student.version }}">
                    <span class="stars flex-center">
                        {% for _ in ""|rjust:transaction.student.rarity %}<div class="star"></div>{% endfor %}
                    </span>
                    <p class="hilight">{{ transaction.student.name }} ({{ transaction.student.version }})</p>
                </div>
            </td>
            {% else %}
            <td>{{ transaction.formatted_datetime }}</td>
            <td>{{ transaction.banner.name }}</td>
            <td>
                <div class="flex-center" id="history-student">
                    <img src="{{ transaction.student.image.url }}" alt="{{ transaction.student.name }}_{{ transaction.student.version }}">
                    <span class="stars flex-center">
                        {% for _ in ""|rjust:transaction.student.rarity %}<div class="star"></div>{% endfor %}
                    </span>
                    <p>{{ transaction.student.name }} ({{ transaction.student.version }})</p>
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    <div class="flex-center">
        <span>
            {% if transactions.has_previous %}
                <a href="?tab={{ tab }}&page={{ previous_page }}">previous</a>
            {% endif %}
    
            <span>
                Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}.
            </span>
    
            {% if transactions.has_next %}
                <a href="?tab={{ tab }}&page={{ next_page }}">next</a>
            {% endif %}
        </span>
    </div>
    {% else %}
        <p>No gacha transactions found.</p>
    {% endif %}
</div>