<div id="reset-form" class="flex-column">
    <p>
        NOTICE: Account Reset Confirmation Required!<br>
    </p>
    <p>WARNING: Resetting account will result in the<br>
        removal of all associated data.
    </p>
    <form class="flex-column" method="POST" autocomplete="off" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="text-error">
            {% for error in form.non_field_errors %} 
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <div class="input-field">
            {{ form.confirm }}
            {% if form.confirm.errors %}
            <div class="text-error">
                {% for error in form.confirm.errors %} 
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <hr>
        <button type="submit" class="flex-center btn">Submit</button>
    </form>
</div>