{% load static %}
{% load custom_tags %}
<div class="flex-column" id="statistic">
    <div class="sub-container flex-column">
        <h2 class="flex-center">THE FIRST OBTAINED&nbsp;
            {% for _ in ""|rjust:3 %}<span class="star"></span>{% endfor %}
        &nbsp;STUDENT</h2>
        <div class="flex-center" id="first-info">
            {% if first_r3_student %}
            <div class="student-card">
                <img src="{{ first_r3_student.student.image.url }}" alt="{{ first_r3_student.student.name }}_{{ first_r3_student.student.version }}">
            </div>
            <div>
                <p>{{ first_r3_student.formatted_datetime }}</p>
                <p>{{ first_r3_student.student.name }} ({{ first_r3_student.student.version }})</p>
            </div>
            {% else %}
            <p>NO 3 STAR STUDENT</p>
            {% endif %}
        </div>
    </div>
    <div class="sub-container">
        <p>TOTAL DRAW: {{ total_draw }}</p>
    </div>
    <div class="statistic-grid">
        <div class="sub-container">
            <p>
                {% for _ in ""|rjust:1 %}<span class="star"></span>{% endfor %} 
                OBTAINED RATE: {{ rarity_counter.r1 }}
                ({{ rarity_counter.r1|percentage:total_draw }}%)
            </p>
        </div>
        <div class="sub-container">
            <p>
                {% for _ in ""|rjust:2 %}<span class="star"></span>{% endfor %}
                OBTAINED RATE: {{ rarity_counter.r2 }}
                ({{ rarity_counter.r2|percentage:total_draw }}%)
            </p>
        </div>
        <div class="sub-container">
            <p>
                {% for _ in ""|rjust:3 %}<span class="star"></span>{% endfor %}
                OBTAINED RATE: {{ rarity_counter.r3 }}
                ({{ rarity_counter.r3|percentage:total_draw }}%)
            </p>
        </div>
    </div>
    <div class="sub-container flex-center">
        <div class="pie-chart" style="--r1:{{ rarity_counter.r1|percentage:total_draw }}%; --r2:{{ rarity_counter.r2|percentage:total_draw }}%; --r3:{{ rarity_counter.r3|percentage:total_draw }}%;">
            <p>TOTAL DRAW<br>{{ total_draw }}</p>
        </div>
        <div>
            <p>
                {% for _ in ""|rjust:1 %}<span class="star"></span>{% endfor %} 
                OBTAINED RATE: {{ rarity_counter.r1 }}
                ({{ rarity_counter.r1|percentage:total_draw }}%)
            </p>
            <p>
                {% for _ in ""|rjust:2 %}<span class="star"></span>{% endfor %}
                OBTAINED RATE: {{ rarity_counter.r2 }}
                ({{ rarity_counter.r2|percentage:total_draw }}%)
            </p>
            <p>
                {% for _ in ""|rjust:3 %}<span class="star"></span>{% endfor %}
                OBTAINED RATE: {{ rarity_counter.r3 }}
                ({{ rarity_counter.r3|percentage:total_draw }}%)
            </p>
        </div>
        
    </div>
</div>