{% load static %}
{% load custom_tags %}
<div class="flex-column" id="statistic">
    <div class="sub-container flex-column">
        <h2>THE FIRST OBTAINED&nbsp;{% for _ in ""|rjust:3 %}<span class="star"></span>{% endfor %}&nbsp;STUDENT</h2>
        <div class="flex-center" id="first-info">
            {% if first_r3_student %}
            <div class="student-card">
                <img src="{{ first_r3_student.student.image.url }}" alt="{{ first_r3_student.student.name }}_{{ first_r3_student.student.version }}">
            </div>
            <div>
                <p>{{ first_r3_student.formatted_datetime }}</p>
                <p>{{ first_r3_student.student.name }} ({{ first_r3_student.student.version }})</p>
            </div>
            {% else %}
            <p>NO 3 STAR STUDENT</p>
            {% endif %}
        </div>
    </div>

    <div class="sub-container flex-column" id="chart">
        <h2>OBTAIN RATE</h2>
        <div class="flex-center">
            <div class="pie-chart" id="all-rarities" style="--r1:{{ rarity_counter.r1|percentage:total_draw }}%; --r2:{{ rarity_counter.r2|percentage:total_draw }}%; --r3:{{ rarity_counter.r3|percentage:total_draw }}%;">
                <p>TOTAL</p>
                <p>DRAW</p>
                <p>{{ total_draw }}</p>
            </div>
            {% for rarity, value in rarity_counter.items %}
            <div class="pie-chart" id="rarity{{ forloop.counter }}" style="--r{{ forloop.counter }}:{{ value|percentage:total_draw }}%;">
                <p>{% for _ in ""|rjust:forloop.counter %}<span class="star"></span>{% endfor %}</p>
                <p>{{ value }}</p>
                <p>({{ value|percentage:total_draw }}%)</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="statistic-grid">
        <div class="sub-container flex-column">
            <p>MOST OBTAINED&nbsp;{% for _ in ""|rjust:1 %}<span class="star"></span>{% endfor %}&nbsp;STUDENT</p>
        </div>
        <div class="sub-container flex-column">
            <p>MOST OBTAINED&nbsp;{% for _ in ""|rjust:2 %}<span class="star"></span>{% endfor %}&nbsp;STUDENT</p>
        </div>
        <div class="sub-container flex-column">
            <p>MOST OBTAINED&nbsp;{% for _ in ""|rjust:3 %}<span class="star"></span>{% endfor %}&nbsp;STUDENT</p>
        </div>
    </div>
    
</div>