@import 'variables.css';

* {
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;

    > body {
        width: inherit;
        height: inherit;
        margin: 0;
        
        display: flex;
        flex-direction: column;
        background-image: url('../image/background.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        backdrop-filter: blur(4px);

        > header {
            background-color: var(--navbar-color);
            margin-bottom: 1rem;
        }

        > footer {
            margin-top: 1rem;
        }
    }
}

ul {
    margin: 0;
}

p, h1, h2, h3 {
    margin: 0;
    padding: 0;
    color: black;
}

p {
    line-height: 1.5rem;
}

.flex-left {
    display: flex;
    justify-content: left;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: var(--gap-size);
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-size);
}

.center-position {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.parallelogram {
    overflow: hidden;
    transform: skewX(var(--parallelogram-deg));

    & .not-parallelogram {
        transform: skewX(calc(var(--parallelogram-deg) * -1));
    }
}

.main-container {
    width: 70%;
    margin: 0 auto;
    padding: calc(var(--gap-size));
    border-radius: var(--container-br);
    background-color: var(--main-container-color);

    & .sub-container {
        padding: calc(var(--gap-size));
        border-radius: var(--container-br);
        background-color: var(--sub-container-color);
    }
}