@import 'variables.css';
/* @import 'layout-debugger.css'; */

.banner-result {
    display: flex;
    flex-direction: column;
    gap: var(--gap-size);
}

#gacha-result-container {
    overflow-y: auto;

    & .result-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: var(--gap-size);

        & .item-overflow {
            position: relative;
            overflow: hidden;
            padding: calc(var(--gap-size) * 3);

            & .result-item {
                cursor: pointer;
                position: relative;
                width: 180px;
                height: 230px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) skewX(calc(var(--parallelogram-deg) * -1)) rotateZ(20deg);
                transition: transform 0.1s ease;
                z-index: 1;

                &:hover {
                    transform: translate(-50%, -50%) skewX(calc(var(--parallelogram-deg) * -1)) rotateZ(0deg);
                }

                & .item-back,
                & .item-front,
                & .item-mid {
                    position: absolute;
                    transition-duration: var(--trans-dur);
                    transition-timing-function: ease-in-out;
                }

                & .item-back,
                & .item-front {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                & .item-back {
                    z-index: -2;
                }

                & .item-mid {
                    top: 50%;
                    left: 50%;
                    transform: translate(-49%, -49%) rotateY(90deg);
                    z-index: -1;
                    border-radius: var(--card-br);
                    box-shadow: var(--color-shadow);
                    overflow: hidden;

                    > .student-card {
                        position: relative;
                        overflow: hidden;
                        width: 100%;
                        height: 100%;
                        
                        & .card-rarity,
                        & .card-school,
                        & .card-label {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            padding: 0.2rem;
                            background-color: rgba(250,250,250, 0.8);
                        }
                        
                        > img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        & .card-rarity {
                            top: 5%;
                            left: 5%;
                            width: fit-content;
                            height: fit-content;
                            border-radius: var(--card-br);

                            & .star {
                                width: 20px;
                                height: 20px;
                                background-image: url('../image/star_rarity.png');
                                background-size: 100% 100%;
                            }
                        }

                        & .card-school {
                            top: 5%;
                            right: 5%;
                            width: fit-content;
                            height: fit-content;
                            background-color: rgba(250,250,250, 0.8);
                            border-radius: var(--card-br);

                            > img {
                                width: auto;
                                height: 20px;
                                object-fit: cover;
                            }
                        }

                        & .card-label {
                            bottom: 0%;
                            width: 100%;
                            border-top-left-radius: 0;
                            border-top-right-radius: 0;

                            > p {
                                font-size: 16px;
                            }
                        }

                    }
                }

                & .item-front {
                    z-index: 0;
                }

                &.showed {
                    --delay: 150ms;
                    transform: translate(-50%, -50%) skewX(calc(var(--parallelogram-deg) * -1)) rotateZ(0deg);

                    & .item-back {
                        transform: translateX(-100%);
                        opacity: 0;
                    }

                    & .item-mid {
                        transition-delay: calc(var(--trans-dur) + var(--delay));
                        transform: translate(-50%, -50%) rotateY(0deg);
                        width: 100%;
                        height: 100%;
                    }

                    & .item-front {
                        transition-delay: var(--delay);
                        transform: rotateY(90deg);
                    }
                }
            }
        }
    }

    & .banner-controller {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--gap-size);

        &.hidden {
            display: none;
        }

        &.hold {
            visibility: hidden;
        }
    }

    & .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0.5rem;
        width: fit-content;
        background: var(--color-primary);
        border-color: var(--color-border);
        box-shadow: var(--color-shadow);

        > span > img {
            height: 60px;
            object-fit: cover;
        }

        > p {
            margin: 0;
            padding: 0 var(--gap-size);
        }
    }
}