@import 'variables.css';
@import 'components.css';
@import 'student-card.css';

#gacha-result-container > .sub-container {
    overflow-y: auto;
    height: 100%;

    & .grid-overflow {
        position: relative;
        overflow: hidden;
        padding: calc(var(--gap-size) * 3);

        & .result-item {
            cursor: pointer;
            position: relative;
            width: 180px;
            height: 230px;
            transform: translate(-50%, -50%) skewX(calc(var(--parallelogram-deg) * -1)) rotateZ(20deg);
            transition: transform 0.1s ease;
            z-index: 1;

            & .item-back,
            & .item-front,
            & .item-mid {
                position: absolute;
                transition-property: transform;
                transition-duration: var(--trans-dur);
                transition-timing-function: ease-in-out;
            }

            & .item-back,
            & .item-front {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            & .item-back {
                transition-property: transform, opacity;
                z-index: -2;
            }

            & .item-mid {
                transform: translate(-50%, -50%) rotateY(90deg);
                z-index: -1;

                /* Override card size for gacha results */
                & .student-card {
                    width: 100%;
                    height: 100%;
                    
                    > img {
                        transform: none;
                    }

                    & .card-rarity .star {
                        width: 25px;
                        height: 25px;
                    }

                    & .card-school > img {
                        height: 25px;
                    }

                    & .card-label {
                        padding: 0.2rem 0;
                        font-size: 16px;
                    }

                }
                
                > .new-card {
                    position: absolute;
                    display: flex;
                    height: 20px;
                    top: -0px;
                    right: -15px;
                    z-index: 1;
                    transform: rotateZ(35deg);
                }
            }

            & .item-front {
                z-index: 0;
            }

            &:hover {
                transform: translate(-50%, -50%) skewX(calc(var(--parallelogram-deg) * -1)) rotateZ(0deg);
            }

            &.showed {
                --delay: 150ms;
                cursor: default;
                transform: translate(-50%, -50%) skewX(calc(var(--parallelogram-deg) * -1)) rotateZ(0deg);

                & .item-back {
                    transform: translateX(-100%);
                    opacity: 0;
                }

                & .item-mid {
                    transition-delay: calc(var(--trans-dur) + var(--delay));
                    transform: translate(-50%, -50%) rotateY(0deg);
                    width: 100%;
                    height: 100%;
                }

                & .item-front {
                    transition-delay: var(--delay);
                    transform: rotateY(90deg);
                }
            }
        }
    }

    & .banner-controller {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--gap-size);

        &.hidden {
            display: none;
        }

        &.hold {
            visibility: hidden;
        }
    }

    & .message > p {
        text-align: center;
        
        & .star {
            display: inline-flex;
            width: 15px;
            height: 15px;
            background-image: url('../image/star_rarity.png');
            background-size: cover;
        }
    } 
}