@import 'variables.css';

h2 {
    text-align: center;
}

#banner-selector {
    --selector-width: 700px;

    position: relative;
    display: grid;
    width: var(--selector-width);
    margin: auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    white-space: nowrap;
    
    &::-webkit-scrollbar {
        display: none;
    }

    > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        scroll-snap-align: start;
        display: flex;

        & li {
            width: var(--selector-width);
            text-align: center;

            & img {
                width: calc(var(--selector-width) - 100px);
                height: calc((var(--selector-width) - 100px) / 2);
                object-fit: cover;
            }
        }
    }

    @media (max-width: 1000px) {
        --selector-width: 600px;
    }

    @media (max-width: 900px) {
        --selector-width: 550px;
    }

    @media (max-width: 800px) {
        --selector-width: 500px;
    }

    @media (max-width: 700px) {
        --selector-width: 450px;
    }

    @media (max-width: 600px) {
        --selector-width: 400px;
    }
}

#selection-controller {
    position: relative;
    text-align: center;

    & .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        border-radius: 50%;
        border: 1px solid var(--card-br-color);
        background: var(--sub-container-color);
        box-shadow: var(--shadow-color);        
        display: inline-block;
        transition: background-color var(--trans-dur) ease;

        &.actived {
            background-color: var(--primary-color);
        }
    }

    > #prev-btn,
    > #next-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-100%);
        font-size: 20px;
        cursor: pointer;
        background-color: #3498db;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 5px;
    }

    > #prev-btn {
        left: 0;
    }

    > #next-btn {
        right: 0;
    }
}