@import 'variables.css';
@import 'components.css';
@import 'student-card.css';

/* PAGE STYLE */
#gacha-detail-container {
    overflow-y: auto;

    & #banner-detail {
        position: relative;
        flex-direction: column;
    
        & #back {
            gap: 0;
            position: absolute;
            top: var(--gap-size);
            left: var(--gap-size);
            text-decoration: none;
        
            > img {
                height: 32px;
            }
        }
    
        & #banner-image > img {
            width: 600px;
            height: 300px;
            object-fit: cover;
        }
    
        & #banner-message .star {
            display: inline-flex;
            width: 15px;
            height: 15px;
            background-image: url('../image/star_rarity.png');
            background-size: cover;
        }
    }

    & .banner-info {
        height: fit-content;
        
        & .rate-title {
            cursor: pointer;
            width: fit-content;

            > #stars {
                gap: 0;

                & .star {
                    display: inline-flex;
                    width: 2rem;
                    height: 2rem;
                    background-image: url('../image/star_rarity.png');
                    background-size: cover;
                }
            }
            
        }

        & .detail-content {
            &.hidden {
                display: none;
                margin: 0;
            }

            &:not(.hidden) {
                margin-top: calc(var(--gap-size) * 1.5);
            }

            & .sub-header {
                padding: 0.2rem 1.0rem;
                border-radius: var(--container-br);
                background-color: var(--card-label-color);
            }

            > .item-grid {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
                gap: var(--gap-size);

                /* Override some properties for feature pick up */
                &.pickup {
                    grid-template-columns: repeat(auto-fill, minmax(calc(var(--card-width) + 30px), 1fr));
                    
                    > .student-card {
                        width: calc(var(--card-width) + 30px);
                        height: calc(var(--card-height) + 30px);

                        > .card-rate,
                        > .card-label {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}