#home-container {
    & .home-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--gap-size);
    }

    & .footer p {
        text-align: center;
    }
}