/* @import url('layout-debuger.css'); */
@import url('variables.css');

nav {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    padding: 0;

    & ul {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;

        & li:first-child {
            margin-right: auto;
        }

        & li.user-dropdown {
            position: relative;
            display: flex;
            align-items: center;

            > ul.sub-menu {
                display: none;
                position: absolute;
                width: 100%;
                top: 100%;
                background-color: var(--navbar-color);
                border-radius: var(--container-br);
                padding: var(--gap-size);
                z-index: 999;

                & li > a {
                    padding: var(--gap-size);
                }

                & hr {
                    margin: var(--gap-size) 0;
                }

                & li:hover > a {
                    background-color: var(--primary-color);
                }
            }

            &::after {
                content: url('../icons/arrow-down.svg');
                height: 24px;
                margin: 0;
                padding: 0;
            }

            &:hover > .sub-menu {
                display: block;
            }
        }
    }

    & li > a {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0 20px;
        color: black;
    }

    @media (max-width: 800px){
        width: 100%;
        height: auto;

        ul {
            flex-direction: column;

            & li {
                display: flex;
                align-items: center;
                height: 50px;
            }

            & li:first-child {
                margin-right: 0;
            }
        }
    }
}

