@import url('variables.css');

nav {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    padding: 0;

    & ul {
        list-style: none;
        margin: 0;
        padding: 0;

        & li:first-child {
            margin-right: auto;
        }

        & li.user-dropdown {
            position: relative;
            width: 20ch; /* 20 char length = text field */

            > ul.sub-menu {
                display: none;
                position: absolute;
                width: 100%;
                top: 100%;
                background-color: var(--navbar-color);
                border-radius: var(--container-br);
                padding: var(--gap-size);
                z-index: 999;

                & li > a {
                    padding: var(--gap-size);
                    transition: background-color var(--trans-dur) ease;
                }

                & li > form {
                    width: 100%;

                    & #logout {
                        cursor: pointer;
                        width: 100%;
                        padding: var(--gap-size);
                        text-align: left;
                        font-size: 1rem;
                        border: none;
                        background-color: rgba(0,0,0,0);
                        transition: background-color var(--trans-dur) ease;
    
                        &:hover {
                            background-color: var(--primary-color);
                        }
                    }
                }

                & hr {
                    margin: var(--gap-size) 0;
                }

                & li:hover > a {
                    background-color: var(--primary-color);
                }
            }

            &::after {
                content: url('../icons/arrow-down.svg');
                height: 24px;
                margin: 0;
                padding: 0;
            }

            &:hover > .sub-menu {
                display: block;
            }
        }
    }

    & li > a {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0 20px;
        color: black;
    }

    @media (max-width: 800px){
        width: 100%;
        height: auto;

        ul {
            flex-direction: column;

            & li {
                display: flex;
                align-items: center;
                height: 50px;
            }

            & li:first-child {
                margin-right: 0;
            }
        }
    }
}

