@import 'variables.css';
@import 'student-card.css';

.school-icon {
    cursor: pointer;
    width: fit-content;
    height: 40px;
    padding: calc(var(--gap-size) / 2) var(--gap-size);
    border-radius: var(--container-br);
    background-color: var(--sub-container-color);
    transition: background-color var(--trans-dur) ease;

    &.activated {
        background-color: var(--primary-color);
    }

    > img {
        height: 24px;
        object-fit: cover;
    }
}

#student-content {
    overflow-y: auto;
    height: 100%;

    > .student-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
        gap: var(--gap-size);

        /* Override .student-card for some hover animation */
        & .student-card { 
            transition: opacity 1s ease;

            > img {
                transform:  scale(1.3) 
                            translateY(10%)
                            skew(calc(var(--parallelogram-deg) * -1));
                transition: transform var(--trans-dur) ease;
            }

            &:hover > img {
                transform:  scale(1.2) 
                            translateY(5%)
                            skew(calc(var(--parallelogram-deg) * -1));
            }
            
            &.hidden {
                visibility: hidden; 
                position: absolute;
                opacity: 0;
            }
        }
    }
}