@import 'variables.css';

body, html {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('../image/background.png');
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(4px);
}

header {
    margin-bottom: 1rem;
    background-color: rgba(250,250,250, 0.8);
}

footer {
    margin-top: 1rem;
}

p {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: black;
}

/* WEB COMPONENT SHARED SAME SETTING */
#home-container,
#student-container,
#gacha-detail-container,
#gacha-result-container {
    padding: var(--gap-size);
    border-radius: var(--container-br);
    background-color: var(--gray-lv1);
}

.home-item,
.footer,
.school-filter,
.student-container,
.banner-container,
.pickup-container,
.not-pickup-container,
.result-container {    
    padding: var(--gap-size);
    border-radius: var(--container-br);
    background-color: var(--gray-lv2);
}



.container-flex {       
    display: flex;
    flex-direction: column;
    grid-gap: var(--gap-size);
}

/* HOME SITE */
.container-flex {
    & .home-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--gap-size);
    }

    & .footer p {
        text-align: center;
    }
}

/* STUDENT SITE*/
#student-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-size);
    overflow-y: auto;

    & .school-filter {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-size);

        & .school-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: var(--gap-size);
            width: fit-content;
            height: 40px;
            background-color: white;
            border-radius: var(--container-br);

            > img {
                margin-right: var(--gap-size);
                height: 100%;
                object-fit: scale-down;
            }

            > .hamburger {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 4px;
                margin-right: var(--gap-size);

                & span {
                    width: 25px;
                    height: 2px;
                    background-color: black;
                }
            }
        }
    }
}

/* GACHA MAIN SITE */

/* GACHA DETAIL SITE*/
#gacha-detail-container {
    overflow-y: auto;

    .containter-flex .banner-container {
        
        & .banner-image {
            width: 400px;
            height: 200px;
        }

        & img {
            width: 100%;
            height: 100%;
        }
    }
}

/* GACHA RESULT PAGE */
#gacha-result-container .result-container .result-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: var(--gap-size);

    & .result-item {
        position: relative;
        /*overflow: hidden;*/
        width: 200px;
        height: 256px;

        & .item-bg {    
            width: inherit;
            height: inherit;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            & .item-rarity {
                
                transform: translateY(-100%);  
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

/*
.form-layout {
    border-radius: 15px;
    width: 376px;
}

.text-danger {
    font-size: 12px;
}

.transaction-grid,
.gacha-result-grid,
.rarity-grid,
.gacha-grid {
    display: grid;
    grid-gap: 10px;
}

.rarity-grid,
.gacha-grid {
    grid-template-columns: repeat(3, 1fr); 
}

.transaction-grid,
.gacha-result-grid {
    grid-template-columns: repeat(5, 1fr); 
}
*/




.dashboard-container {
    display: grid;
    grid-template-columns: 1fr 4fr; 
    grid-gap: 10px;
}

.dashboard-menu * {
    display: block;
}

#dashboard-content {
    display: grid;
    place-items: center;
}

.pagination {
    margin-top: 10px; /* Adjust the margin as needed */
}