:root {
    --r1-bg: #5fdbff;
    --r2-bg: #ffdf5e;
    --r3-bg: #f6b4c6;
    --rainbow-bg: linear-gradient(in hsl longer hue 45deg, red 0 0);
    --gray: #dee2e6;
}

* {
    outline: 1px solid red;
}


body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    margin-bottom: 1rem;
}

footer {
    margin-top: 1rem;
}

/* HOME SITE */
.home-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

/* STUDENT SITE*/
.container {
    overflow-y: auto;

    .school-container {
        border-radius: 15px;
        margin: 0.5rem 0;
        padding: 0.5rem;
        background-color: var(--gray);
    
        & .school-header {
            display: flex;
            margin-bottom: 0.5rem;
            height: 50px;

            & h2 {
                margin-top: 0.5rem;
            }
    
            & img {
                margin-right: 0.5rem;
                height: 100%;
                object-fit: scale-down;
            }
        }
        
        & .student-grid {    
            display: flex;
            flex-wrap: wrap;
            grid-gap: 10px;
        
            & .student-card {
                position: relative;
                overflow: hidden;
                width: 130px;
                height: 150px;
                padding: 0rem;
                border-radius: 15px;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            
                & img {
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                    object-fit: cover;
                }
        
                & .card-label {
                    font-size: small;
                    font-weight: 600;
                    color: black;
                    text-align: center;
                    width: 100%;
                    padding: 0.1rem 0;
                    border-bottom-left-radius: inherit;
                    border-bottom-right-radius: inherit;
                    transform: translateY(0%);            
                    background-color: rgba(248,249,250, 0.8);
                    transition: transform 0.3s;
                }
        
                &:hover .card-label {
                    transform: translateY(-100%);
                }
                        
            }
        
            & .r3-bg {
                background-color: var(--r3-bg);
            }
        
            & .r2-bg {
                background-color: var(--r2-bg);
            }
        
            & .r1-bg {
                background-color: var(--r1-bg);
            }  
        }
    }
}

.form-layout {
    border-radius: 15px;
    width: 376px;
}

.text-danger {
    font-size: 12px;
}



.transaction-grid,
.gacha-result-grid,
.rarity-grid,
.gacha-grid {
    display: grid;
    grid-gap: 10px;
}

.rarity-grid,
.gacha-grid {
    grid-template-columns: repeat(3, 1fr); 
}

.transaction-grid,
.gacha-result-grid {
    grid-template-columns: repeat(5, 1fr); 
}





.dashboard-container {
    display: grid;
    grid-template-columns: 1fr 4fr; 
    grid-gap: 10px;
}

.dashboard-menu * {
    display: block;
}

#dashboard-content {
    display: grid;
    place-items: center;
}

.pagination {
    margin-top: 10px; /* Adjust the margin as needed */
}