@import 'variables.css';

body,
html {
    width: 100vw;
    height: 100vh;
}

header {
    background-color: var(--color-navbar);
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('../image/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(4px);
}

header {
    margin-bottom: 1rem;
}

footer {

    margin-top: 1rem;
}

p {
    margin: 0;
    padding: 0;
    color: black;
}

/* WEB COMPONENT SHARED SAME SETTING */
.parallelogram {
    overflow: hidden;
    transform: skewX(var(--parallelogram-deg));

    & .not-parallelogram {
        transform: skewX(calc(var(--parallelogram-deg) * -1));
    }
}

#home-container,
#student-container,
#gacha-container,
#gacha-detail-container,
#gacha-result-container {
    padding: calc(var(--gap-size) * 1.5);
    border-radius: var(--container-br);
    background-color: var(--gray-lv1);
}

.home-item,
.footer,
.school-icon,
.student-container,
.banner-container,
.pickup-container,
.not-pickup-container,
.result-container {
    padding: calc(var(--gap-size) * 1.5);
    border-radius: var(--container-br);
    background-color: var(--gray-lv2);
}

.container {
    display: flex;
    flex-direction: column;
    grid-gap: var(--gap-size);
}

/* HOME SITE */
#home-container {
    & .home-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--gap-size);
    }

    & .footer p {
        text-align: center;
    }
}

/* STUDENT SITE*/
#student-container {
    overflow-y: auto;

    & .school-filter {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-size);

        & .school-icon {
            display: flex;
            align-items: center;
            width: fit-content;
            height: 40px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            >img {
                height: 100%;
                object-fit: scale-down;
            }

            >p {
                padding-left: var(--gap-size);
            }

            &.activated {
                background-color: var(--color-primary);
            }
        }
    }
}

/* GACHA MAIN SITE */
#gacha-container {
    & #gacha-selector {
        display: flex;
        margin: auto;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        white-space: nowrap;
        scroll-behavior: smooth;
        width: 700px;

        &::-webkit-scrollbar {
            display: none;
        }

        > ul {
            list-style: none;
            padding: 0;
            margin: 0;
            scroll-snap-align: center;
            display: flex;

            & li {
                width: 700px;
                box-sizing: border-box;
                text-align: center;
                padding: 20px;
                border: 1px solid #ccc;

                & img {
                    width: 600px;
                    height: 300px;
                    object-fit: cover;
                }
            }
        }
    }

    #prev-btn,
    #next-btn {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        cursor: pointer;
        background-color: #3498db;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 5px;
    }

    #prev-btn {
        left: 10px;
    }
      
    #next-btn {
        right: 10px;
    }

    & .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;

        &.actived {
            background-color: var(--color-primary);
        }
    }
}

/* GACHA DETAIL SITE*/
#gacha-detail-container {
    overflow-y: auto;

    .containter-flex .banner-container {

        & .banner-image {
            width: 400px;
            height: 200px;
        }

        & img {
            width: 100%;
            height: 100%;
        }
    }
}

/* GACHA RESULT PAGE */
#gacha-result-container .result-container .result-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: var(--gap-size);

    & .result-item {
        position: relative;
        /*overflow: hidden;*/
        width: 200px;
        height: 256px;

        & .item-bg {
            width: inherit;
            height: inherit;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            & .item-rarity {

                transform: translateY(-100%);

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.dashboard-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
}

.dashboard-menu * {
    display: block;
}

#dashboard-content {
    display: grid;
    place-items: center;
}

.pagination {
    margin-top: 10px;
    /* Adjust the margin as needed */
}