@import 'variables.css';

/* COMPONENTS */
.btn {
    cursor: pointer;

    background-color: var(--primary-color);
    border: 1px solid var(--card-br-color);
    border-radius: var(--container-br);
    box-shadow: var(--shadow-color);
}

/* PAGE STYLE */
h1 {
    text-align: center;
}

hr {
    margin: var(--gap-size) 0;
    border-color: black;
}

#register-container,
#register-complete-container,
#login-container,
#forget-container {
    width: fit-content;
}

#register-content,
#register-complete-content,
#login-content,
#forget-content {
    padding: 25px;
}

.input-field {
    --size: 2rem;
    
    > input[type=text],
    > input[type=password] {
        padding-left: calc(var(--size) / 2);
        width: 100%;
        height: var(--size);
        font-size: calc(var(--size) / 2);
    }
}

.text-error > p {
    font-size: 0.7rem;
    color: red;
}

/* DASHBOARD */
#dashboard-container {
    & .dashboard-grid {    
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: var(--gap-size);
    
        & .sub-container {
            max-height: 60vh;
            height: calc(max-height - var(--gap-size));
            overflow-y: auto;
        }
    }
}

#dashboard-content {
    & h2 {
        text-align: center;
    }

    > #password-form,
    > #reset-form {
        margin: auto;
        width: fit-content;
        padding: 25px;
    }

    > #collection {
        
        & .student-grid {
            --card-width: 130px;
            --card-height: 150px;

            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
            gap: var(--gap-size);

            & .student-card {
                position: relative;
                overflow: hidden;
                width: var(--card-width);
                height: var(--card-height);
                border-radius: var(--card-br);
                box-shadow: var(--shadow-color);
            
                > .portrait,
                > .locked {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }

                > .portrait {
                    top: 10%;
                    object-fit: cover;
                    transform: skew(calc(var(--parallelogram-deg) * -1)) scale(1.2);
                }

                > .locked {
                    background-color: rgba(0, 0, 0, 0.5);

                    > img {
                        position: absolute;
                        width: calc(var(--card-width) / 2);
                        height: calc(var(--card-height) / 2);
                        object-fit: cover;
                    }
                }

                > .card-rarity,
                > .card-school,
                > .card-label {
                    position: absolute;
                    padding: 0.2rem;
                    background-color: var(--card-bg-color);
                }

                > .card-rarity {
                    top: 5%;
                    left: 5%;
                    width: fit-content;
                    height: fit-content;
                    border-radius: var(--card-br);
            
                    & .star {
                        width: 15px;
                        height: 15px;
                        background-image: url('../image/star_rarity.png');
                        background-size: 100% 100%;
                    }
                }
            
                > .card-school {
                    top: 5%;
                    right: 5%;
                    width: fit-content;
                    height: fit-content;
                    background-color: var(--card-bg-color);
                    border-radius: var(--card-br);
            
                    > img {
                        height: 15px;
                        object-fit: cover;
                    }
                }

                > .card-label {
                    bottom: 0%;
                    width: 100%;
                    padding: 0;
            
                    > p {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

