@import 'variables.css';

/* COMPONENTS */
.btn {
    cursor: pointer;

    background-color: var(--primary-color);
    border: 1px solid var(--card-br-color);
    border-radius: var(--container-br);
    box-shadow: var(--shadow-color);
}

/* PAGE STYLE */
h1 {
    text-align: center;
}

hr {
    margin: var(--gap-size) 0;
    border-color: black;
}

#register-container,
#register-complete-container,
#login-container,
#forget-container {
    width: fit-content;
}

#register-content,
#register-complete-content,
#login-content,
#forget-content {
    padding: 25px;
}

.input-field {
    --size: 2rem;
    
    > input[type=text],
    > input[type=password] {
        padding-left: calc(var(--size) / 2);
        width: 100%;
        height: var(--size);
        font-size: calc(var(--size) / 2);
    }
}

.text-error > p {
    font-size: 0.7rem;
    color: red;
}

/* DASHBOARD */
#dashboard-container {
    & .dashboard-grid {    
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: var(--gap-size);
    
        & .sub-container {
            max-height: 70vh;
            height: calc(max-height - var(--gap-size));
            overflow-y: auto;
        }
    }
}

#dashboard-content {
    > #password-form,
    > #reset-form,
    > #delete-form {
        margin: auto;
        width: fit-content;
        padding: 25px;
    }

    > #history > table {
        width: 100%; /* to maintain header table width equally */
        border-collapse: collapse;
        table-layout: fixed;

        & th, td {
            border: 1px solid black;
            text-align: center;
        }

        & td {
            line-height: 0px;
        }

        & .hilight {
            color: var(--primary-color);
            /* text-stroke: 1px black; may not support in some browser */
            text-shadow: 
                -1px -1px 0 black,  
                 1px -1px 0 black,
                -1px  1px 0 black,
                 1px  1px 0 black;
        }

        & .history-student {

            > .student-card {
                position: relative;
                overflow: hidden;
                width: 65px;
                height: 75px;
                border-radius: var(--card-br);
                box-shadow: var(--shadow-color);

                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transform: skew(calc(var(--parallelogram-deg) * -1)) scale(1.2);
                }
            }

            > .stars {
                --total-star-size: 60px;
                width: var(--total-star-size);
                justify-content: center;
                margin-left: var(--gap-size);

                & .star {
                    width: calc(var(--total-star-size) / 3);
                    height: calc(var(--total-star-size) / 3);
                    background-image: url('../image/star_rarity.png');
                    background-size: 100% 100%;
                }
            }

            > p {
                margin-left: var(--gap-size);
                width: 8ch;
                text-align: left;
            }
            
        }
    }

    > #statistic {

        & h2 {
            & .star {
                width: 20px;
                height: 20px;
                background-image: url('../image/star_rarity.png');
                background-size: 20px 20px;
            }
        }

        

        & #first-info {
            gap: 20px;

            > .student-card {
                position: relative;
                overflow: hidden;
                width: 130px;
                height: 150px;
                border-radius: var(--card-br);
                box-shadow: var(--shadow-color);
    
                > img {
                    position: absolute;
                    top: 10%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transform: skew(calc(var(--parallelogram-deg) * -1)) scale(1.2);
                }
            }
        }

        & .statistic-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: var(--gap-size);

            
        }

        & p {
            & .star {
                display: inline-flex;
                width: 16px;
                height: 16px;
                background-image: url('../image/star_rarity.png');
                background-size: 16px 16px;
            }
        }

        & .pie-chart {
            --border:10px;

            position:relative;
            width: 200px;
            height: 200px;
            display: inline-grid;
            place-content: center;
            margin: 10px;

            &:before{
                content: "";
                position: absolute;
                border-radius: 50%;
                inset: 0;
                background: conic-gradient(
                    var(--r1-color) 0% var(--r1),
                    var(--r2-color) var(--r1) calc(var(--r1) + var(--r2)),
                    var(--r3-color) calc(var(--r1) + var(--r2)) 100%,
                    grey 0%
                );

                -webkit-mask: radial-gradient(
                    farthest-side,
                    #0000 calc(99% - var(--border)),
                    #000 calc(100% - var(--border))
                );

                mask: radial-gradient(
                    farthest-side,
                    #0000 calc(99% - var(--border)),
                    #000 calc(100% - var(--border))
                );
            }
        }
    }

    > #collection {
        
        & .student-grid {
            --card-width: 130px;
            --card-height: 150px;

            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
            gap: var(--gap-size);

            & .student-card {
                position: relative;
                overflow: hidden;
                width: var(--card-width);
                height: var(--card-height);
                border-radius: var(--card-br);
                box-shadow: var(--shadow-color);
            
                > .portrait,
                > .locked {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }

                > .portrait {
                    top: 10%;
                    object-fit: cover;
                    transform: skew(calc(var(--parallelogram-deg) * -1)) scale(1.2);
                }

                > .locked {
                    background-color: rgba(0, 0, 0, 0.5);

                    > img {
                        position: absolute;
                        width: calc(var(--card-width) / 2);
                        height: calc(var(--card-height) / 2);
                        transform: skew(calc(var(--parallelogram-deg) * -1)) translate(-50%, -50%);
                        object-fit: cover;
                    }
                }

                > .card-rarity,
                > .card-school,
                > .card-label {
                    position: absolute;
                    padding: 0.2rem;
                    background-color: var(--card-bg-color);
                }

                > .card-rarity {
                    top: 5%;
                    left: 5%;
                    width: fit-content;
                    height: fit-content;
                    border-radius: var(--card-br);
            
                    & .star {
                        width: 15px;
                        height: 15px;
                        background-image: url('../image/star_rarity.png');
                        background-size: 100% 100%;
                    }
                }
            
                > .card-school {
                    top: 5%;
                    right: 5%;
                    width: fit-content;
                    height: fit-content;
                    background-color: var(--card-bg-color);
                    border-radius: var(--card-br);
            
                    > img {
                        height: 15px;
                        object-fit: cover;
                    }
                }

                > .card-label {
                    bottom: 0%;
                    width: 100%;
                    padding: 0;
            
                    > p {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

