:root {
    /* Color */
    --primary-color: #5fdbff;
    --hover-color: gold;
    --shadow-color: 2px 2px 4px rgba(15, 25, 125, 0.5);

    --r1-color: #6BDFFF;
    --r2-color: #FFE400;
    --r3-color: #FEC1F5;
    
    /* navbar */
    --navbar-color: rgba(250, 250, 250, 0.8);

    /* Container */
    --main-container-color: rgba(128, 128, 128, 0.6);
    --sub-container-color: rgba(255, 255, 255, 0.6);
    --container-br: 15px;
    --gap-size: 0.5rem;

    /* Card */
    --card-width: 130px;
    --card-height: 150px;
    --card-icon-size: 15px;
    --card-label-color: rgba(250, 250, 250, 0.8);
    --card-br: 15px;
    --card-br-color: rgba(15, 25, 125, 0.5);
    
    /* Animation */
    --trans-dur: 0.3s;

    /* ETC */
    --parallelogram-deg: -10deg;
}