

<div class="container">
  <div>
    <img id="image-preview" src="{% if widget.value %}{{ widget.value.url }}{% else %}/static/portrait_404.png{% endif %}" alt="Image preview" style="width: auto; height: 150px;">
  </div>
  <div>
    <input type="file" name="image" class="custom-file-input" accept="image/*" id="id_image" style="width: auto;" onchange="previewImage(this);">
  </div>
  <div>
    <button type="button" onclick="clearImage()">Clear</button>
  </div>
</div>

<script>
function previewImage(input) {
  var preview = document.getElementById('image-preview');
  var file = input.files[0];
  var reader = new FileReader();

  reader.onloadend = function () {
    preview.src = reader.result;
  };

  if (file) {
    reader.readAsDataURL(file);
  } else {
    preview.src = "/static/portrait_404.png";
  }
}

function clearImage() {
  var preview = document.getElementById('image-preview');
  var fileInput = document.getElementById('id_image');
  var currentValue = '{{ widget.value.url }}';
  
  fileInput.value = "";
  preview.src = currentValue || '/static/portrait_404.png';
  
}
</script>

