{% load static %} {% load filters %} 
{% for rarity in rarities %} 
{% if students|filter_rarity:rarity %}
<div>
  <h3>{% for _ in "★"|rjust:rarity %}★{% endfor %}</h3>
  <div class="student-flex">
    {% for student in students|filter_rarity:rarity %}
    <div class="portrait">
      <img
        src="{% if student.image %}{{ student.image.url }}{% else %}{% static 'portrait_404.png' %}{% endif %}"
        alt="{{ student.name }}_{{ student.version.name }}"
      />
      <figcaption>
        {{ student.name }}{% if student.version.name != "Original" %}<br>({{ student.version.name }}){% endif %}
      </figcaption>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endfor %}
