.form-layout{
    border-radius: 15px;
    width: 376px;
}

.text-danger{
    font-size: 12px;
}

.debug-ok-layout{
    border: solid;
    border-width: 1px;
    border-color: black;
}

.debug-dev-layout{
    border: solid;
    border-width: 1px;
    border-color: red;
}
