{% extends 'general_app/components/base.html' %}

{% load static %}
{% load filters %}

{% block title %}Gacha detail{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '/css/gacha-detail-style.css' %}">
{% endblock %}

{% block content %}
<div class="main-container flex-column parallelogram" id="gacha-detail-container">
    <!-- Gacha banner detail with draw buttons -->
    <div class="sub-container flex-center banner-detail">
        <a href="{% url 'gacha' %}" class="flex-center btn" id="back">
            <img class="not-parallelogram" src="{% static 'icons/back.svg' %}" alt="Back">
            <p>BACK</p>
        </a>
        <h1>{{ banner.name }}</h1>
        <div class="banner-image">
            {% if banner.image %}
            <img src="{{ banner.image.url }}" alt="{{ banner.name }}">
            {% else %}
            <img src="{% static '/image/gacha/banner_dummy.png' %}" alt="{{ banner.name }}">
            {% endif %}
        </div>
        <div class="banner-message">
            {% if is_auth %}
            <p>Guarantee <span class="star"></span><span class="star"></span><span class="star"></span> in {{ num_guarantee }} draw</p>
            {% else %}
            <p>GUEST MODE</p>
            {% endif %}
        </div>
        <form class="flex-center" method="POST" action="{% url 'gacha_result' gacha_id=banner.id %}">
            {% csrf_token %}
            {% for num_draw in num_draws %}
            <button class="flex-center btn" type="submit" name="draw" value="{{ num_draw }}">
                {% if num_draw == 1 %}
                <img class="not-parallelogram" src="{% static 'image/gacha/draw01.png' %}" alt="{{num_draw}}draw">
                {% elif num_draw == 10 %}
                <img class="not-parallelogram" src="{% static 'image/gacha/draw10.png' %}" alt="{{num_draw}}draw">
                {% endif %}
                <p>{{ num_draw }} Draw</p>
            </button>
            {% endfor %}
        </form>
    </div>
    
    <!-- All available students in banner -->
    {% for rarity in rarities %}
    <div class="sub-container flex-column banner-info" id="rarity{{ rarity }}">
        <div class="flex-left rate-title" onclick="toggleVisible('rarity{{ rarity }}')">
            <div class="flex-center hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="stars">
                {% for _ in "★"|rjust:rarity %}
                <div class="star"></div>
                {% endfor %}
            </div>
            <h2>({{ banner|get_rate:rarity }}%)</h2>
        </div>
        <div class="flex-column detail-content hidden">
            {% if rarity == 3 and banner.is_pickup.all %}
            <p class="sub-header">PICK UP ({{ banner.feature_rate }}%)</p>
            <div class="item-grid pickup">
                {% for student in banner.is_pickup.all %}
                <div class="center-position student-card">
                    <img src="{{ student.image.url }}" alt="{{ student.name }}_{{ student.version.name }}" loading="lazy">
                    <div class="flex-center rate-info">
                        <p>{{ banner.feature_rate|divide_rate:banner.is_pickup.all.count }}%</p>
                    </div>
                    <div class="flex-center card-label">
                        <p>{{ student.name }}{% if student.version.name != "Original" %} ({{ student.version.name }}){% endif %}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <p class="sub-header">NOT PICK UP ({{ banner.r3_rate|subtract_rate:banner.feature_rate }}%)</p>
            {% endif %}
            <div class="item-grid">
                {% with filtered_students=banner.not_pickup.all|filter_rarity:rarity %}
                {% for student in filtered_students %}
                <div class="center-position student-card">
                    <img src="{{ student.image.url }}" alt="{{ student.name }}_{{ student.version.name }}" loading="lazy">
                    <div class="flex-center rate-info">
                        {% if rarity == 3 %}
                        <p>{{ banner.r3_rate|subtract_rate:banner.feature_rate|divide_rate:filtered_students.count }}%</p>
                        {% else %}
                        <p>{{ banner|get_rate:rarity|divide_rate:filtered_students.count }}%</p>
                        {% endif %}
                    </div>
                    <div class="flex-center card-label">
                        <p>{{ student.name }}{% if student.version.name != "Original" %} ({{ student.version.name }}){% endif %}</p>
                    </div>
                </div>
                {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/detail-toggle.js' %}"></script>
{% endblock %}
